.progress-ven-diagram {
    position: relative;
    --size: 8rem;
}

.progress-ven-diagram__wrapper {
  position: "relative";
  height: 8rem;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.progress-ven-diagram__circle--first {
  top: 0;
}

.progress-ven-diagram__circle--second {
  transition-duration: 1000ms;
  top: 0;
  left: var(--size);
}

.progress-ven-diagram__circle--first-centered {
}

.progress-ven-diagram__circle--second-centered {
  left: 0;
}